*{
    background-color: rgb(155, 155, 255);
    font-family: 'Uchen', serif;

}

.main_form{
    /* margin: 250px 0 0; */
    color: brown;
    text-align: center;
    height: 530px;
    /* background-color: teal; */
}

h3{
    font-size: 40px;
}

button {background-color: #008CBA;
    margin-top: 50px;
    border: 3px solid #ffffff;
    padding: 6px 38px;
    cursor:pointer;
    font-size: 20px;
    color: whitesmoke;
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    background-color: rgb(255, 255, 255);
    margin: 8px 0;
    box-sizing: border-box;
  }

  span{
      text-transform: uppercase;
  }