*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  background-color: burlywood;
}



.heading-sub{
  color: brown;
  text-align: center;
  text-transform: capitalize;
  /* font-weight: 100; */
  padding-top: 40px;
}
.img-dev{
  display: flex;
  justify-content: center;
}
.img-dev img{
  margin-top:30px;
  width: 200px;
  height: 250px;
  /* align-items: center; */
}
.img{
  padding-left: 5px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
